

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  height: 30px;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
   border: 1px;
  }
  
  .nav-item {
    margin-right: 50px;
  }body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  input[type="number"] {
    width:  200px;
    height: 15px;
    padding: 5px 10px 5px 10px;
    border:1px solid #999;
    font-size:16px;
    font-family: Tahoma;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    font-size: 18px;
  }
  